<a href="https://colab.research.google.com/github/priyansh9462/priyansh_6july/blob/main/12_july.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
myset={10,20,30,"hey",10,10,10,99}
myset.add(88)        # for adding any input in the set
print(myset)

{99, 20, 'hey', 88, 10, 30}

In [ ]:
myset={10,20,30,"hey",10,10,10,99}
myset.add(88)        # for remove any input in the set
print(myset)

{99, 'hey', 10, 30}

In [ ]:
myset={10,20,30,"hey",10,10,10,99}
myset.discard(88)        # for removing any input in the set
print(myset)
myset.discard(88)        #it doesn't give error even number is removed fron set

{99, 20, 'hey', 10, 30}

In [ ]:
myset={10,20,30,"hey",10,10,10,99}
myset.remove(88)        # for removing any input in the set
print(myset)

In [ ]:
myset={10,20,30,"hey",10,10,10,99}
mysetb={20,10,12,14}
myset.union(mysetb)  #combinig set

{10, 12, 14, 20, 30, 99, 'hey'}

In [ ]:
#function                       # function is the block of code which is declared or defined only once then used in condition
#block of code => task/functionality
for i in range(0,4):            # once declared the condition, then again its not needed to represent the condition repeatly like loop
    print("i")

i
i
i
i

In [ ]:
'''
void main(){                              #
  statement
}
'''
def msg():
    print("hello user")

In [ ]:
msg()
msg()
msg()

hello user
hello user
hello user

In [ ]:
def msg(x):
    print("hello user",x)        # here function ud defined now we have to give command then its show output

In [ ]:
msg(10)

hello user 10

In [ ]:
msg("tushar")        #accepting the value
msg("priyansh")
#value => arguement

hello user tushar
hello user priyansh

In [ ]:
def sumfuc(x,y):
    print(x+y)
    sumfunc(10,20)
    sumfuc(15,55)

In [ ]:
def func(x1):
    print("X1 :",x1)       #x1 local variable (used in function inside only)

#outside
x2=100900                  # here x2 is global variable (variable that can be use everywhere)
func(x2)

X1 : 100900

integer tuple and string if they are changed then it will make new memory for the changed value . this is know as immutable data type

In [ ]:
def func(x1):
    x2=100900
    print("Inside function x2 :",x2)

    #outside
    x2=1300
    func(x2)
    print("outside",x2)

In [ ]:
def func(x):
    print("Inside",x,id(x))
    x=10
    print("change outside",x,id(x))
    x1=20
    print("Outside",x1,id(x1))
    func(x1)

In [ ]:
def employee(eid, ename):
    print(f"eid : {eid} ename : {ename}")

#required arguement =(no of value=no. of variable)
    employee(10)

In [ ]:
def employee(eid, ename):
    print(f"eid : {eid} ename : {ename}")

#position argument
employee("naina",10)

eid : naina ename : 10

In [ ]:
def employee(eid, ename):
    print(f"eid : {eid} ename : {ename}")

#keyword argument
employee(ename="naina",eid=10)

eid : 10 ename : naina

In [ ]:
#Variable Length argument
def employee(*detail):
    print(detail,type(detail))

employee(10,20,30)
employee()

(10, 20, 30) <class 'tuple'>
() <class 'tuple'>

In [ ]:
# Lambda function (unnamed)
# or annymous function
def square(x):
    print(x*x)

In [ ]:
#Lambda parameter : expression
regex = lambda x: x*x
regex(20)

400

In [ ]:
# map , filter
def square(num):
    return num**2
mylist =["hey","hello"]
list(map(len , mylist))

[3, 5]

In [ ]:
# map , filter
def square(num):
    return num**2
mylist =[10,20,30,40]        #len for length
list(map(square , mylist))

[100, 400, 900, 1600]

In [ ]:
#another way by using lambda
list(map( lambda num : num**2 , mylist))

[100, 400, 900, 1600]

In [ ]:
#Assignment

In [ ]:
#swap two numbers
def swap(a,b):
    a,b=b,a
    return a,b

a=10
b=20
print("before a =",a, "b =",b )
print(swap(a,b))

before a = 10 b = 20
(20, 10)

In [ ]:
# extract each digit from an integer in the reverse order
def num (n):
  return [int(i) for i in str(n)[::-1]]

n=2004
print(num(n))

[4, 0, 0, 2]

In [ ]:
# sum of 3 digit
def sum (a,b,c):
  return a+b+c
a=10
b=20
c=30
print(sum(a,b,c))

60

In [ ]:
#sum of square of given numbers
def sum(a,b,c):
  return a**2+b**2+c**2
a=10
b=20
c=30
print(sum(a,b,c))

1400

In [ ]:
# Findout the the given value is armstrong number or not
def armstrong(n):
    num = str(n)
    num_digit = len(num)
    sum_of_digits = 0
    for digit in num:
       sum_of_digits += (int(digit) ** num_digit)
    return sum_of_digits == n

n = int(input("Enter a number: "))
if armstrong(n):
    print(f"{n} is an Armstrong number.")
else:
    print(f"{n} is not an Armstrong number.")

Enter a number: 5
5 is an Armstrong number.

In [ ]:
#float number with 2 decimal places using print()
n = float(input("Enter a number:"))
print(f"{n:.2f}")

In [ ]:
#all factors of a given number provided by the user.
def num(n):
  result = []
  for i in range (1,n+1):
    if n%i==0:
      result.append(i)
  return result
n=int(input("Enter a number:"))
print(num(n))

In [ ]:
# Accept a list of 5 float numbers as an input from the user
def num(n):
  num_str=len(n)
  num_list=[]
  for i in n:
    num_list.append(i)
  return num_list
n=12.5,13.5,14.5,15.5,16.5
print(num(n))

In [ ]:
#find the volume of the cylinder. Also find the cost when ,when the
#cost of 1litre milk is 40Rs.
def volume(r,h):
  c=40
  v=(22/7)*r*r*h*c
  return v
r=10
h=20
print(volume(r,h),"Rs")

ASSIGNMENT CMPLETED

16 july

In [2]:
def func():
    print("hello")
x=func
x()

#first class function

hello

In [3]:
lambda x : "hello"    # it gives function name

In [5]:
out = lambda x : "hello"
out(10)

'hello'

In [7]:
list1 = ["hey","hello",]
map(len,list1)    #generator

In [9]:
list1 = ["hey","hello",]
list(map(len,list1))    #generator

[3, 5]

In [ ]:
[('hey', 1), ('hello', 1)]

In [ ]:
# function

In [11]:
def func(num):
    print("cake",num)

# call function
func(100)

cake 100

In [16]:
def func(num):
    print("cake",num)
    return "100"

# call function
out =func(100)         #stored in function
print(out)

cake 100
100

In [17]:
#multiple return
def func(num):
    print("cake",num)
    return "200"
    return 500            #return means you are exiting to the function after that anything else are write outside is not checked and never executed

# call function
out =func(100)
print(out)

cake 100
200

In [18]:
#FILE handling -->
#mechanism => file task
#read / write       operations are performed+
#?
print("hello")

hello